@charset "UTF-8";

@font-face {
	font-family: "wide";
	
}

body {
	font-family: "wide";
	background-image: url(dr.jpg);
	background-repeat: repeat-y;
	background-position: center;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

#nbTbl {
	margin-left: auto;
	margin-right: auto;
	width: 500px;
	color: white;
}

 input {
	 border: white solid 3px;
     width: 150px;
     height: 50px;
	font-family: "wide";
	font-size: 20pt;
	outline: none;
	text-align: center;
	background-color: transparent;
	color: white;
}

th {
	font-size: 60pt;
	text-shadow: pink 3px 3px 5px;
	height: 100px;
}

.td1 {
	font-size: 20pt;
	color: white;
	text-shadow: pink 3px 3px 5px;
}

button {
	width: 400px;
	height: 40px;
	background-color: transparent;
	font-size: 15pt;
	font-family: "wide";
	color: white;
	border-color: black;
}    

.ip {
	width: 100%;
	height: 20px;
}
#baseballTbl {
	margin-top: 150px;
}











































